body{
    background-color: rgb(136, 0, 79);
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header{
    background-color: rgb(209, 164, 204);
    color: brown;
    text-align: center;
    padding: 30px 20px;
    border-bottom: 3pm solid brown;
}

header .logo{
    max-width: 100px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header h1{
    margin: 0;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header p{
    color: coral;
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 5mm;
}

main{
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

main section{
    background-color: darksalmon;
    padding: 25px;
    margin-bottom: 30px;
    border-radius:  8px;
    border-left: 5px solid deeppink;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

main section h2{
    color: blueviolet;
    margin-top: 0;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

main section img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid sienna;
    border-radius: 4px;
}

#carouselExample{
    max-width: 60%;
    margin: 0 auto;
}

footer ul{
    list-style-type: none;
    color:#000000;
    padding-left: 20px;
}

footer ul li{
    margin-top: 10px;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 173, 217);
    color: #555555;
    font-size: 0.9rem;
    border-top: 1px solid #333;
    margin-top: 50px;

}